<template>
  <div class="card">
    <slot name="header"></slot>
    <slot name="default"> no text </slot>
    <!-- отображать слот только если он переда из родителя $slots.footer -->
    <div v-if="$slots.footer">
      <slot name="footer"></slot>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    // посмотреть все слоты
    // console.log(this.$slots.footer);
  },
};
// v-slot сокращенная запись #
</script>
