<template>
  <button class="btn" :class="color" @click="action"><slot /></button>
</template>

<script>
export default {
  name: "AppButton",

  props: {
    // вместо props с текстом кнопки используется slot
    // text: {
    //   type: String,
    //   required: false,
    //   default: "Кнопка без названия",
    // },
    color: {
      type: String,
      default: "",
      validator(value) {
        return ["", "primary", "danger"].includes(value);
      },
    },
  },
  methods: {
    action() {
      this.$emit("action");
    },
    helloFromBtn() {
      console.log("Hello from btn");
    },
  },
};
</script>
