<template>
  <div class="card">
    <app-async></app-async>
    <h1>Динамические и асинхронные компоненты</h1>
    <app-button ref="myBtn" :color="oneColor" @action="active = 'one'"
      >One</app-button
    >
    <app-button :color="twoColor" @action="active = 'two'">Two</app-button>
    <hr />
  </div>
  <!-- чтобы использовать динамический компонент используем component :is  -->
  <!-- <app-text-one v-if="active === 'one'"> </app-text-one> -->
  <!-- <app-text-two v-else-if="active === 'two'"> </app-text-two> -->
  <!-- сохранить значение введеное в инпут при переключении keep-alive  -->
  <keep-alive>
    <component :is="componentName"> </component>
  </keep-alive>
</template>

<script>
import AppButton from "./AppButton.vue";
import AppTextOne from "./AppTextOne.vue";
import AppTextTwo from "./AppTextTwo.vue";

export default {
  components: {
    AppButton,
    AppTextOne,
    AppTextTwo,
  },
  data() {
    return {
      active: "one", // "two"
    };
  },
  mounted() {
    // setTimeout(() => {
    //   this.componentName = "new comp name";
    // }, 1500);
    this.$refs.myBtn.helloFromBtn(); // через refs можно получить доступ до метода компонента
  },
  computed: {
    // расширение computed свойств путем get и set
    componentName: {
      get() {
        return "app-text-" + this.active;
      },

      set(value) {
        // console.log("componentName", value);
      },
    },
    // componentName() {
    //   return "app-text-" + this.active;
    //   // if (this.active === "one") {
    //   //   return "AppTextOne";
    //   // }
    //   // return "AppTextTwo";
    // },
    oneColor() {
      return this.active === "one" ? "primary" : "";
    },
    twoColor() {
      return this.active === "two" ? "primary" : "";
    },
  },
};
</script>
