<template>
  <div class="card">
    <h3>{{ title }}</h3>
    <app-button @action="open">
      {{ isNewsOpen ? "Закрыть" : "Открыть" }}
    </app-button>

    <app-button v-if="wasRead" color="danger" @action="$emit('unmark', id)">
      Отметить непрочитанной
    </app-button>

    <div v-if="isNewsOpen">
      <hr />
      <p>lorem ipsum</p>
      <app-button v-if="!wasRead" color="primary" @action="mark">
        Прочесть новость
      </app-button>
      <app-news-list> </app-news-list>
    </div>
  </div>
</template>

<script>
import AppButton from "./AppButton.vue";
import AppNewsList from "./AppNewsList.vue";
export default {
  components: {
    AppButton,
    AppNewsList,
  },
  data() {
    return {
      isNewsOpen: this.isOpen,
    };
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    id: {
      type: Number,
      required: true,
    },
    isOpen: {
      type: Boolean,
      required: false, // не обазателен
      default: false, // значение по умолчанию
      valifator(value) {
        console.log(value);
        return false;
      },
    },
    wasRead: {
      type: Boolean,
      required: true,
    },
  },
  emits: {
    // open: (value) => typeof value === "number",
    open: null,
    "read-news": (value) => typeof value === "number",
    unmark: (value) => typeof value === "number",
  },
  methods: {
    open() {
      this.isNewsOpen = !this.isNewsOpen;
      if (this.isNewsOpen) {
        this.$emit("open");
      }
    },
    mark() {
      this.isNewsOpen = false;
      this.$emit("read-news", this.id);
    },
    // unmark() {
    //   this.$emit("unmark", this.id);
    // },
  },
};
</script>
