<template>
  <div class="card">
    <h3>Это компонент AppTextOne</h3>
    <p>тут какой то текст для AppTextOne</p>
    <div class="form-control">
      <input type="text" />
    </div>
  </div>
</template>

<script>
export default {};
</script>
