<template>
  <div class="container pt-1">
   
    <app-dinamyc></app-dinamyc>

    <app-list>
      <!-- <template #default="slotProps">
        <span style="color: #c25205">
          <strong> {{ slotProps.idx }} </strong>
          Item: {{ slotProps.iter }}</span
        >
      </template> -->

      <!-- тоже самое только используя деструктуризацию объекта 12 строка-->
      <template #default="{ iter, idx }">
        <span style="color: #c25205">
          <strong> {{ idx }} </strong>
          Item: {{ iter }}</span
        >
      </template>
    </app-list>

    <app-block>
      <p>Важный текст для блока</p>

      <template #header>
        <h3>Это заголовок</h3>
      </template>
      <template v-slot:footer>
        <hr />
        <small>Это футер</small>
      </template>
    </app-block>

    <div class="card">
      <h2>Актуальные новости: {{ now }}</h2>
      <span> Открыто: {{ openRate }} | Прочитано {{ readRate }}</span>
    </div>
    <app-news
      v-for="item in news"
      :key="item.id"
      :title="item.title"
      :id="item.id"
      :isOpen="item.isOpen"
      @open="open"
      @read-news="readNews"
      :wasRead="item.wasRead"
      @unmark="unReadNews"
    ></app-news>
  </div>
</template>

<script>
import AppBlock from "./components/AppBlock.vue";
import AppDinamyc from "./components/AppDinamyc.vue";
import AppList from "./components/AppList.vue";
import AppNews from "./components/AppNews.vue";

export default {
  name: "App",
  components: {
    AppNews,
    AppBlock,
    AppList,
    AppDinamyc,
    // AppNews: AppNews,
    // 'app-news': AppNews,
  },
  data() {
    return {
      openRate: 0,
      readRate: 0,
      now: new Date().toLocaleDateString(),
      news: [
        {
          title: "Новость 1",
          id: 1,
          isOpen: false,
          wasRead: false,
        },
        {
          title: "Новость 2",
          id: 2,
          isOpen: false,
          wasRead: false,
        },
      ],
    };
  },
  provide() {
    return {
      title: "Список всех новостей",
      news: this.news,
    };
  },

  methods: {
    open() {
      this.openRate++;
      // item.isOpen = !item.isOpen;
    },
    readNews(id) {
      const currentNews = this.news.find((element) => element.id === id);
      currentNews.wasRead = true;
      this.readRate++;
    },
    unReadNews(id) {
      const currentNews = this.news.find((element) => element.id === id);
      currentNews.wasRead = false;
      this.readRate--;
    },
  },
};
</script>

<style lang="scss" scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
h2 {
  color: red;
}
</style>
